/* Variants for Desktop Screen */

.header1 {
  font-family: var(--font-poppins); /* Poppins */
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 6rem; /* 140.625% */
}

.header2 {
  font-family: var(--font-poppins); /* Poppins */
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4rem; /* 133.333% */
}

.header3 {
  font-family: var(--font-poppins); /* Poppins */
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.75rem; /* 157.143% */
}

.text,
.paragraph {
  font-family: var(--font-inter); /* Inter */
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem; /* 180% */
}

.paragraph {
  margin-bottom: 0.25rem;
}

.paragraph p {
  margin-bottom: 1rem;
}

.paragraph ul {
  margin: 1rem 0 1rem 2.5rem;
}
